/* styles.css */

/* Link Button Hover Effect */
.link-button:hover {
  background-color: #0056b3;
}

/* Card Hover Effect */
.card-container:hover {
  transform: scale(1.02);
}

/* Responsive Popup */
@media (max-width: 768px) {
  .popupContent {
    flex-direction: column;
    align-items: center;
  }

  .popupImageContainer {
    flex: 0 0 auto;
    width: 100%;
    max-width: 200px;
  }

  .popupDetails {
    width: 100%;
  }
}
